<div class="pantalla-juego">
  <div class="cabecera">
    <button class="btn-icono redondo" (click)="volver()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <div class="titulo-container">
      <h1>Palabras que empiecen por {{ vocalSeleccionada }}-</h1>
    </div>
    <button class="btn-icono redondo">
      <mat-icon>help</mat-icon>
    </button>
  </div>

  <div class="contenido-juego">
    <div class="grid-cartas">
      <div *ngFor="let carta of cartas" class="carta" (click)="seleccionarCarta(carta)">
        <div class="contenido-carta">
          <img [src]="carta.rutaImagen" [alt]="carta.palabra">

          <div *ngIf="carta.seleccionada && carta.esCorrecta" class="marca-correcta">
            <span class="tick-text">✅</span>
          </div>

          <div *ngIf="carta.seleccionada && !carta.esCorrecta" class="marca-incorrecta">
            <span class="cross-text">❌</span>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="juegoTerminado" class="mensaje-victoria">
      <h2>¡Muy bien! Has encontrado todas las palabras con {{ vocalSeleccionada }}</h2>
      <button class="boton-jugar-de-nuevo" (click)="volverAJugar()">
        <mat-icon>refresh</mat-icon>
        Volver a jugar
      </button>
    </div>
  </div>

  <div class="pie-pagina">
    <button class="boton-siguiente" (click)="siguiente()">
      Siguiente
      <mat-icon>arrow_forward</mat-icon>
    </button>
  </div>
</div>