<div class="pantalla-juego">
  <div class="cabecera">
    <button class="boton-volver" (click)="volver()">
      <img src="assets/iconos/volver.svg" alt="Volver" />
    </button>
    <div class="titulo-container">
      <h1>Palabras que empiecen por {{ vocalSeleccionada }}-</h1>
    </div>
    <button class="boton-ayuda">
      <img src="assets/iconos/ayuda.svg" alt="Ayuda" />
    </button>
  </div>

  <div class="contenido-juego">
    <div class="grid-cartas">
      <div *ngFor="let carta of cartas" class="carta" (click)="seleccionarCarta(carta)">
        <div class="contenido-carta">
            <img [src]="carta.rutaImagen" [alt]="carta.palabra">
            
            <div *ngIf="carta.seleccionada && carta.esCorrecta" class="marca-correcta">
              <img src="assets/iconos/tick.svg" alt="Correcto" onerror="this.src=''; this.outerHTML='<span class=\'tick-text\'>✅</span>'">
            </div>
            
            <div *ngIf="carta.seleccionada && !carta.esCorrecta" class="marca-incorrecta">
              <img src="assets/iconos/cruz.svg" alt="Incorrecto" onerror="this.src=''; this.outerHTML='<span class=\'cross-text\'>❌</span>'">
            </div>
          </div>
        </div>
      </div>
    
    <div *ngIf="juegoTerminado" class="mensaje-victoria">
      <h2>¡Muy bien! Has encontrado todas las palabras con {{ vocalSeleccionada }}</h2>
      <button class="boton-jugar-de-nuevo" (click)="volverAJugar()">Volver a jugar</button>
    </div>
  </div>

  <div class="pie-pagina">
    <button class="boton-siguiente" (click)="siguiente()">Siguiente</button>
  </div>
</div>