<div class="administrador-container">
  <h1>Panel de Administrador</h1>

  <div class="actions-section">
    <button mat-raised-button color="primary" (click)="abrirDialogoAlumno()">
      Añadir Alumno
    </button>
    <button mat-raised-button color="accent" (click)="abrirDialogoActualizar()" style="margin-left: 10px;">
      Actualizar Alumno
    </button>
    <button mat-raised-button color="warn" (click)="abrirDialogoEliminar()" style="margin-left: 10px;">
      Eliminar Alumno
    </button>
  </div>
</div>